*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgb(195, 226, 226);
}
.btn{ 
    text-decoration: none;
    background-color: #6be786;
    color: aliceblue;
    padding: 30px 50px;
    border-radius: 10px;
    font-weight: 1000;
    box-shadow: 0px 5px 15px rgba(0, 0,0, 0.3);
    font-size: 30px;
    overflow: hidden;
    position: relative;
}

.btn::before{
    content: "";
    background: orange;
    width: 0px;
    height: 0px;
    position: absolute;
    top: var(--posY);
    left: var(--posX);
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.btn:hover::before{
    width: 200px;
    height: 200px;
    transition: 1s; 
}
.btn span{
    position: relative;
    z-index: 1;
}